
body {
    background-color: rgb(146, 178, 178);
    margin: 0;
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
}

.heading{
    text-align: center;
}

.flex-container{
    display:flex;
    border:1px;
    max-width: 600px;
    margin:0px auto;
    border-radius: 8px;
    padding-left: 4px;
    flex-direction: column;
    gap: 10px;
  
}

.item {
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    border-radius: 8px;
    padding-left: 2px;    
}

.button{
    background-color: rgb(3, 4, 4);
    color: rgb(239, 234, 234);
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
  
}

input, button{
    height:30px;
    color:rgb(10, 10, 10);
    margin-right: 10px;
    border-width:1px;
   
}

.list-class li  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.edit-button,
.remove-button {
    margin-left: 5px;
}
